<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  content="yes"  name="apple-mobile-web-app-capable">
    <meta  name="viewport"  content="inital-scale=1.0,maximum-scale=1.0,user-scalable=no;">
    <title>隆邦ERP系统_物料管理</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script language="javascript">


        function confirmAgain() {
            return window.confirm("确认执行【下单该物料】操作?");
        }

        // function NumAlarm() {
        //     var a=parseInt(document.getElementById('totalNum').innerText);
        //     var b=parseInt(document.getElementById('detail5').value);
        //
        //     if(a<=b){
        //         document.getElementById('totalNum').style.color='red';
        //
        //     }
        // }
        //
        // function stateColor(ojId){
        //     if(document.getElementById(ojId).innerText==='无'){
        //         document.getElementById(ojId).style.color='green';
        //     }else if(document.getElementById(ojId).innerText==='存在未检测'){
        //         document.getElementById(ojId).style.color='orange';
        //     }else if(document.getElementById(ojId).innerText==='少剩余'){
        //         document.getElementById(ojId).style.color='red';
        //     }else if(document.getElementById(ojId).innerText==='有退回'){
        //         document.getElementById(ojId).style.color='#FE1DC6';
        //     }else  if(document.getElementById(ojId).innerText==='有订单未处理'){
        //         document.getElementById(ojId).style.color='#fe007b';
        //     }else if(document.getElementById(ojId).innerText==='需归还物料'){
        //         document.getElementById(ojId).style.color='#80d5d7';
        //     }
        // }

        function Authority() {
            if(document.getElementById('role').innerText==='系统管理员'){
                document.getElementById('authority').style.display='';
            }else{
                document.getElementById('authority').style.display='none';
            }
        }

    </script>


</head>
<body >


<section class="functionBoard">

    <div class="functionBoard left">
        <div>
            <h1 class="functionBoard-Title "><img src='images/LBLogo.png' height="99px" width="220px"></h1>
            <u1>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonLogin" onclick="location.href='/adminHome'">首页</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonRegister" onclick="location.href='/adItemMan'">物料管理</button></li>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonRegister" onclick="location.href='/adOrderMan'">采购管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button"  onclick="location.href='/adBOMListMan'">BOM表管理</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" onclick="location.href='/adUserMan'" style="" id="authority">权限管理</button></li>
                <style onload="Authority()"></style>
            </u1>
            <button class="functionBoard-Button" type="button" id="buttonRegister" onclick="location.href='/logout'" style="position: fixed;bottom: 6%;" >退出登录</button>
        </div>
    </div>

    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">
            <header role="banner">
                <div class="headcontainer">
                    <div class="page-title">
                        采购管理
                    </div>
                    <span class="page-title" style="position: absolute;padding-top: 45px;margin-left: 5px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">欢迎您，</span><span id="role" class="page-title" style="position: absolute;margin-left: 55px; padding-top: 45px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem"><%=user.role%></span><span class="page-title" style="padding-top: 45px;position: absolute;margin-left: 120px;flex:0 1 auto;font-weight: normal; font-size: 0.8rem">&emsp;<%=user.userName%></span>
                </div>
            </header>

            <form method="post" onsubmit="return confirmAgain()">

                            <div class="itemDetailsPage" style="width: 550px; margin-top: -10px">
                                <div class="itemDetail">下单信息：</div>
                                <div class="itemDetail">供应商：<input class="itemDetailsInput addItemInfo" type="text" name="itemSupplier" value="" style="height: 35px;width: 80%;" required></div>
                                <div class="itemDetail">名称：<input class="itemDetailsInput addItemInfo" type="text" name="itemName" value="" style="height: 35px;width: 80%;" required></div>
                                <div class="itemDetail">物料编号：<input class="itemDetailsInput addItemInfo" type="text" name="itemId" value="" style="height: 35px;width: 80%;" required></div>
                                <div class="itemDetail">型号(图号)：<input class="itemDetailsInput addItemInfo" type="text" name="itemModel" value="" style="height: 35px;width: 80%;"></div>
                                <div class="itemDetail">数量：<input class="itemDetailsInput addItemInfo" type="text" name="applyNum" style="height: 35px;width: 20%;" required></div>
                                <div class="itemDetail">单价：<input class="itemDetailsInput addItemInfo" type="text" name="itemPrice" style="height: 35px;width: 20%;" required></div>
                                <div class="itemDetail">单位：<input class="itemDetailsInput addItemInfo" type="text" name="itemUnit"   style="height: 35px;width: 20%;" required></div>
                                <div class="itemDetail" >到货预期设置：<input class="itemDetailsInput addItemInfo" type="date" name="commingDate" style="height: 35px;width: 35%" required></div>

                                <div class="itemDetail">申请人：<input class="itemDetailsInput addItemInfo" type="text" name="applier"  style="height: 35px;width: 20%" value="<%=user.userName%>" required></div>
                                <div class="itemDetail" >申请备注：<input class="itemDetailsInput addItemInfo" type="text" name="applyNote"  style="height: 35px;width: 80%"></div>
                                <button class="btn btn-block btn-submit button button--primary smaller" type="submit" name=""  style=" background-color: #fe007b!important;position: absolute!important; margin-top: 30px; width: 40%" >申请下单</button>

                            </div>


            </form>
        </main>
    </div>
</section>




<footer class="footer" role="contentinfo">
    <div class="container">
        <span id="copyright">Copyright © 佛山琉智科技有限公司</span>
    </div>
</footer>
</body>
</html>