<!DOCTYPE html>
<html>
<head>

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script language="javascript">

        function flash() {
           window.setTimeout(  'location.href=\'<%=url%>\'',1000)

        }
    </script>
</head>


<body onload="flash()">
<h1></h1>



</body>
</html>
