<!DOCTYPE html>
<html>

   <head>
       <title></title>



       <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

   </head>


   <body>
   <input type="radio" name="122">a
   <input type="radio" name="122">b
   <input type="radio" name="122">c

   </body>

 </html>