<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta  content="yes"  name="apple-mobile-web-app-capable">
    <meta  name="viewport"  content="maximum-scale=1.0,user-scalable=no">
    <title>resetPassword</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<script language="javascript">
    function tipsDisplay(tips) {
        const tipEle = document.getElementById('tips');
        if(tipEle.innerText === '' && tips === undefined || tips === 0){
            document.getElementById('tipsBox').style.display='none';
        } else {
            tipEle.innerText = tips;
            document.getElementById('tipsBox').style.display='';
            document.getElementById('copyText').innerText = '';
        }
    }

    function copyT(text) {
        console.log(document.getElementById('copyText').innerText)
        if (text === ""){
            tipsDisplay("请输入正确的工号或密码，并生成加密密码。")
        } else {
            text.select();

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(text.value);

            /* Alert the copied text */
            alert("Copied the text: " + text.value);
        }
    }

</script>

<!--    jQuery Ajax   -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


<body>


<section class="functionBoard">

    <div class="functionBoard left">
        <div>
            <h1 class="functionBoard-Title "><img src='images/LBLogo.png' height="99px" width="220px"></h1>
            <u1>
                <li class="list-group"><button class="functionBoard-Button current" type="button" id="buttonLogin" onclick="location.href='/login'">登录</button></li>
                <li class="list-group"><button class="functionBoard-Button" type="button" id="buttonRegister" onclick="location.href='/register'">注册</button></li>
            </u1>
        </div>
    </div>

    <div class="functionBoard right">
        <main role="main" class="container mt-3 mb-3">

            <header role="banner">
                <div class="headcontainer">
                    <div class="page-title">
                        企业管理系统
                    </div>
                </div>
            </header>




            <div id="content" class="row">
                <div class="col-md">
                    <div class="card">
                        <div class="card-header text-center">
                            <h2>重置密码</h2>
                        </div>
                        <div class="card-body">
                            <form method="post" id="fm1" >
                                <section class="form-group">
                                    <div id="tipsBox" style="color: red;" >提示:<a id="tips"><%=tips%></a></div>
                                    <style onload="tipsDisplay()"></style>
                                    <br>
                                    <a for="username">工号:</a>
                                    <div>
                                        <input class="form-control required" id="userId" size="25" tabindex="1" type="text" accesskey="n" autocomplete="off" name="userId" placeholder="请输入您的工号" required>
                                    </div>
                                </section>

                                <section class="form-group">
                                    <a for="password">重置密码:</a>
                                    <div>
                                        <input class="form-control required" id="password" size="25" tabindex="2" accesskey="p" autocomplete="off" name="password" placeholder="请输入您的密码" required>
                                    </div>
                                </section>
                                <button class="btn btn-block btn-submit button button--primary" id="btn_generate" type="button">生成加密密码</button>

                                <script>
                                    $("#btn_generate").click(function () {
                                        const userId = document.getElementById('userId').value
                                        const resetPW = document.getElementById('password').value
                                        const sendData = {userId: userId ,resetPW: resetPW}
                                        $.ajax({
                                            url: './ajaxResetPassword',
                                            data: JSON.stringify(sendData),
                                            type: 'post',
                                            contentType:'application/json',
                                            success: function (data) {
                                                if (data === '请输入正确工号!' || data === '请输入重置密码!'){
                                                    tipsDisplay(data);
                                                } else {
                                                    data = '管理员，工号 '+ userId + ' 要求更改密码： ' + '\n' + data;
                                                    document.getElementById('copyText').innerText = data;
                                                    tipsDisplay(0);
                                                }
                                            },
                                            error: function (jqXHR, textStatus, errorThrown) {
                                                alert('error ' + textStatus + " " + errorThrown);
                                            }
                                        })
                                    });
                                </script>

                                <p>请将以下字段发送至管理员微信：</p>
                                <div class="wrapper">
                                    <textarea id="copyText" name="copyText" cols="40" rows="5" style="width: 100%" disabled></textarea>
                                    <button class="btn btn-block btn-submit button button--primary" type="button" onclick="copyT(document.getElementById('copyText'))" style="margin-top: 20px">复制</button>
                                    <button class="btn btn-block btn-submit button button--primary" onclick="location.href='/login'" style="margin-top: 10px">返回登录</button>
                                </div>
                            </form>

                        </div>
                    </div>

                </div>


                <div id="providers" class="col-md mt-3 mt-md-0"> </div>





            </div>
        </main>
    </div>
</section>




<%- include('zFooter') %>

</body>
</html>