<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>隆邦企业管理系统</title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <script type="text/javascript" src="/javaScript/jquery-3.6.0.min.js"></script>

<!--↓↓移动端屏幕不能缩放↓↓-->
<!--    <meta  content="yes"  name="apple-mobile-web-app-capable">-->
<!--    <meta  name="viewport"  content="maximum-scale=1.0,user-scalable=no">-->
</head>